@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500,700');

body {
    font-family: 'Quicksand', sans-serif !important;
    font-size: 110% !important;
}

/************************
    UTILITIES
************************/
.divider {
    margin: auto;
    width: 140px;
    height: 6px;
    border-radius: 8%;
    background-color: #fd7e14;
}

.silent-link {
    color: inherit !important;
    text-decoration: none !important;
}

div.header {
    min-height: 100vh;
    padding-top: 89px; /*Size of Navbar*/

}

.spaced-title {
    letter-spacing: 0.1em;
    word-spacing: 0.2em;
}

.project-image {
    width: 100%;
    height: 42vh;
    object-fit: cover;
}

.fade-in {
    visibility: visible;
    opacity: 1;
    transition: opacity 1s linear;
}

.fade-out {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 1s, opacity 1s linear;
}

/************************
    HERO SECTION
************************/
#hero-image {
    background: url("../img/header-image.jpg") no-repeat center center;
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    padding-top: 14vmax;
    padding-bottom: 32vmax;
    background-size: cover;
}

/************************
    ABOUT SECTION
************************/
.intro {
    width: 100%;
    padding-bottom: 10vh;
}

.intro_about {
    width: 100%;
    padding-right: 3vw;
    padding-left: 3vw;
    margin-bottom: 8vh;
    display: flex;
    flex-direction: column;
}

.intro_name {
    width: 100%;
    padding-left: 2vw;
    padding-right: 2vw;
    padding-bottom: 2vh;
    text-align: center !important;
    color: #383838;
    font-weight: bolder;
    font-size: 2.80em;
    letter-spacing: 2px;
    align-items: center;
    flex-direction: column;
    justify-content: center !important;
}

.intro_designation {
    width: 100%;
    text-align: center !important;
    color: #383838;
    font-weight: lighter;
    font-size: 1.28em;
    letter-spacing: 5px;
}

.social-icons {
    font-size: 108%;
    word-spacing: 0.8em;

}

/************************
    SKILLS SECTION
************************/
.charts-container{
    font-size: 9em;
}
.charts-container:after {

}

.skill-wrapper {
    height: 1em;
    width: 1em;
    position: relative;
}

.skill-wrapper .skill-circle {
    height: 100%;
    clip: rect(auto, auto, auto, auto);
    width: 100%;
    left: 0;
    position: absolute;
    top: 0;
}

.skill-wrapper .skill-circle .half-circle {
    height: 100%;
    width: 100%;
    border: 0.1em solid #2196F3;
    border-radius: 50%;
    clip: rect(0, 0.5em, 1em, 0);
    left: 0;
    position: absolute;
    top: 0;
}

.skill-wrapper .label {
    font-size: 0.15em;
    left: 0.4em;
    position: absolute;
    right: 0.4em;
    text-align: center;
    top: 1.8em;
    font-weight: bold;
}

.skill-wrapper .shadow {
    height: 100%;
    width: 100%;
    border: 0.1em solid #bdc3c7;
    border-radius: 50%;
}

.skill-wrapper .skill-circle .left-side {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}


/************************
    PROJECTS SECTION
************************/

.card-back {
    filter: drop-shadow(4px 4px 6px gray);
    -webkit-filter: drop-shadow(4px 4px 6px gray);
    height: 250px;
}

.card-back:hover {
    filter: drop-shadow(8px 8px 10px gray);
    -webkit-filter: drop-shadow(8px 8px 10px gray);
    transition: all 0.5s;
}

.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
}

.modal-dialog {
    position: absolute;
    margin: 0;
    max-width: 100%;
    width: 100%;
    height: 100%;
    padding: 0;
}

.modal-content {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    border-radius: 0;
    box-shadow: none;
    overflow-y: auto;
}

/************************
    FOOTER SECTION
************************/
.social_links {
    font-size: 200%;
}

.move {
    transition: all 0.1s ease-in-out;
}

.move:hover {
    transform: scale(1.15, 1.15);
}

footer {
    padding-top: 12vh;
    padding-bottom: 12vh;
    background-color: #e2E2E8
}

/************************
    MEDIA SECTION
************************/
@media screen and (max-width: 800px) {
    div.header {
        padding-bottom: 4vh;
    }
}