@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  --color-primary: #6861b8;
  --color-text: #101010;
  --color-text-muted: #767676;
  --color-background: #faf9f6;
  --color-switch: var(--color-text-muted);
}

body.dark {
  --color-primary: #6861b8;
  --color-text: #ffffff;
  --color-text-muted: #bbbbbb;
  --color-background: #222831;
  --color-switch: var(--color-primary);
}

body {
  color: var(--color-text);
  background-color: var(--color-background);
  font-family: "IBM Plex Sans", Arial, Helvetica, sans-serif;
  font-weight: 400;
  line-height: 1.8;
  word-spacing: 2px;
}

.switch-background {
  background-color: var(--color-switch);
}

h1,
h2,
h3,
h4,
title {
  font-weight: 500;
  line-height: 1.5;
  display: block;
}

h1 {
  font-size: theme(fontSize.5xl);
  @media (min-width: theme("screens.md")) {
    font-size: theme(fontSize.6xl);
  }
  @media (min-width: theme("screens.lg")) {
    font-size: theme(fontSize.7xl);
  }
}

h2 {
  font-size: theme(fontSize.4xl);
  @media (min-width: theme("screens.md")) {
    font-size: theme(fontSize.5xl);
  }
  @media (min-width: theme("screens.lg")) {
    font-size: theme(fontSize.6xl);
  }
}

h3 {
  font-size: theme(fontSize.xl);
  @media (min-width: theme("screens.md")) {
    font-size: theme(fontSize.2xl);
  }
  @media (min-width: theme("screens.lg")) {
    font-size: theme(fontSize.3xl);
  }
}

h4 {
  font-size: theme(fontSize.base);
  @media (min-width: theme("screens.md")) {
    font-size: theme(fontSize.lg);
  }
  @media (min-width: theme("screens.lg")) {
    font-size: theme(fontSize.xl);
  }
}

section {
  min-height: calc(100vh - 55px);
  margin: theme(spacing.8);
  padding: theme("spacing.4");
}

b {
  font-weight: 700;
}

canvas {
  width: 100%;
  height: 100%;
}
